@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "ClashDisplay";
  src: url("../../public/ClashDisplay-Variable.woff2");
}

@theme {
  --color-aepink-100: rgb(245, 39, 78);
  --color-aepink-50: rgb(245, 39, 78, 0.5);
  --color-aepink-10: rgb(245, 39, 78, 0.1);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ClashDisplay", sans-serif;
}
